body {
  box-sizing: border-box;
  height: 100%;
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #2E2E2E 50%, #000000 100%);
  background: -webkit-linear-gradient(top, #333333 0%, #2E2E2E 50%, #000000 100%);
  background: linear-gradient(to bottom, #333333 0%, #2E2E2E 50%, #000000 100%);
}


h1 {
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 7vh;
    text-align: left;
    margin-bottom: 1%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}


textarea {
    height: 475px;
  width: 100%;
  background-color: transparent;
  margin-top: 20%;
  font-size: 4vh;
  overflow:auto;
  border: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;


}
label {
    margin-right: 30px;
    font-size: 30px;
    
}

th{
  padding: 15px;
  text-align: left;
 
}
 td {
  padding: 15px;
  text-align: left;
}

table {
  font-size: 4vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    margin-left: 1px;
}

.record-btn {
  /* position: absolute; */
  background: #CE2724;
  background: -moz-linear-gradient(-45deg, #CE2724 0%, #A42525 50%, #9F2222 100%);
  background: -webkit-linear-gradient(-45deg, #CE2724 0%, #A42525 50%, #9F2222 100%);
  background: linear-gradient(135deg, #CE2724 0%, #A42525 50%, #9F2222 100%);
  height: 4vh;
  width: 4vh;
  cursor: pointer;
  border-radius: 50%;
  border: 0px;
  padding: 5px;
}

input {
  background-color: black;
  width: 100%;
}

input[type=text] {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color:white;
  border: 2px solid white;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;

  font-weight: bold;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 30px;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  font-weight: bold;

  text-align: center;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .6; /* Firefox */
}

.right-div {
  
}